@model ML_ASP.Models.ViewModel.SubmissionVM

@{
    Layout = "_AMasterPage_3";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Responsive Dashboard Design #1 | AsmrProg</title>
</head>

<body>

    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="sidebar">
                <a asp-controller="Dashboard" asp-action="FileManagement">
                    <span class="material-symbols-outlined">
                        topic
                    </span>
                    <h2>Files</h2>
                </a>
                <a href="#" class="active">
                    <span class="material-symbols-outlined">
                        analytics
                    </span>
                    <h2>Prediction</h2>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        mail
                    </span>
                    <h2>Mails</h2>
                    <span class="message-count">3</span>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                    <h2></h2>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->
        <!-- Main Content -->
        <main>
            <h1>Analytics</h1>
            <!-- Analyses -->
            <div class="analyse">
                <div class="hrs-remaining">
                    <div class="status">
                        <div class="info">
                            <h3>Hours Remaining</h3>
                            <h1>200 Hours</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="40" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>80%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hrs-completed">
                    <div class="status">
                        <div class="info">
                            <h3>Hours Completed</h3>
                            <h1>5 Hours</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="40" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>2%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="task-completed">
                    <div class="status">
                        <div class="info">
                            <h3>Task Completed</h3>
                            <h1>@ViewBag.SubmissionCount Submission</h1>
                        </div>
                        <div class="progress">
                            <span class="material-symbols-outlined">
                                task
                            </span>
                        </div>
                    </div>
                </div>
                <div class="task-completed">
                    <div class="status">
                        <div class="info">
                            <h3>Reports Remaining</h3>
                            <h1>15 Weekly Report</h1>
                        </div>
                        <div class="task-progress">
                            <span class="material-symbols-outlined">
                                pending
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <!--end of task analytics-->

            <div class="charts">
                <h2> Performance Progress</h2>
                <p> By Week</p>
                <div class="pulse"></div>
                <div class="chart-area">
                    <div class="grid"></div>
                </div>
            </div>
            <!-- End of Analyses -->
            <!-- Recent Orders Table -->
            <div class="recent-orders">
                <h2>Recent Log In's</h2>
                <table>
                    <thead>
                        <tr>
                            <th class="p-4">FullName</th>
                            <th class="p-4">DateTime</th>
                            <th class="p-4">Log Status</th>
                            <th class="p-4">Evidence</th>
                            <th class="p-4"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model.LogList)
                        {
                            <tr>
                                <td class="p-4">
                                    @i.FullName
                                </td>
                                <td class="p-4">
                                    @i.DateTime
                                </td>
                                <td class="p-4">
                                    @i.Log
                                </td>
                                <td>
                                   <!-- REMAINING SPACE FOR DELETING BUTTON-->
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="#">Show All</a>
            </div>
            <!-- End of Recent Orders -->

        </main>
        <!-- End of Main Content -->
        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <div class="profile">
                    <div class="button">
                        <!-- reverse pyschology of default returns in toggle buttons see controller for and put debug break to understand -->
                        <form method="post" id="toggleForm" asp-action="Dashboard" asp-controller="Dashboard">
                            @if(Model.TimeLog == "Timed In")
                            {
                                <label class="toggle-container" for="IsTimedIn">
                                    <input type="checkbox" class="toggle-input" id="IsTimedIn" name="IsTimedIn" value="true">
                                    <span class="toggle-slider on"></span>
                                </label>
                            }
                            @if(Model.TimeLog != "Timed In"){
                            <label class="toggle-container" for="IsTimedIn">
                                <input type="checkbox" class="toggle-input" id="IsTimedIn" name="IsTimedIn" value="false">
                                <span class="toggle-slider"></span>
                            </label>
                            }
                        </form>
                        <!-- TIME LOG TOGGLE BUTTON ENDS -->
                    </div>
                    <div class="info">
                        <h3>Welcome, <b>@ViewBag.AccountName</b></h3>
                        <small class="text-muted">Trainee</small>
                    </div>
                    <div class="profile-photo">
                        <img src="images/profile-1.jpg">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->

            <div class="reminders">
                <div class="header">
                    <h2>Reminders</h2>
                    <span class="material-icons-sharp">
                        notifications_none
                    </span>
                </div>

                <div class="notification">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            volume_up
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text_muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification deactive">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            edit
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text_muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification add-reminder">
                    <div>
                        <span class="material-icons-sharp">
                            add
                        </span>
                        <h3>Add Reminder</h3>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script src="~/js/index.js"></script>
    <script src="~/js/orders.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="~/js/site.js"></script>
    <script>
        document.getElementById("IsTimedIn").addEventListener("click", function () {
            var slider = document.querySelector(".toggle-slider");
            slider.classList.toggle("on");
            document.getElementById("toggleForm").submit();
        });
    </script>
</body>

</html>